# Visual Studio cache and temp files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# IDE settings
.vscode/

# Backup & log files
*.log
*.tlog
*.tmp

# Other
*.vsidx
